KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt_load.o \
$(ARCHDIR)/isr_stub.o \
$(ARCHDIR)/irq_stub.o \
$(ARCHDIR)/howdy.o \
$(ARCHDIR)/paging_enable.o \
$(ARCHDIR)/tss_flush.o \
kernel/idt.o \
kernel/gdt.o \
kernel/tss.o \
kernel/isr.o \
kernel/uart.o \
kernel/debug_log.o \
kernel/process.o \
kernel/scheduler.o \
kernel/pic.o \
kernel/timer.o \
kernel/keyboard.o \
kernel/shell.o \
kernel/paging.o \
kernel/heap.o \
kernel/syscall.o \
kernel/initrd.o \
kernel/elf_loader.o \
kernel/vga13.o \
kernel/tetris.o \
kernel/vfs.o \
kernel/ata.o \
kernel/spikefs.o \
kernel/boot_splash.o
