KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt_load.o \
$(ARCHDIR)/isr_stub.o \
$(ARCHDIR)/irq_stub.o \
$(ARCHDIR)/howdy.o \
$(ARCHDIR)/paging_enable.o \
$(ARCHDIR)/tss_flush.o \
$(ARCHDIR)/hal.o \
core/idt.o \
core/gdt.o \
core/tss.o \
core/isr.o \
core/syscall.o \
mm/paging.o \
mm/heap.o \
fs/vfs.o \
fs/spikefs.o \
fs/initrd.o \
fs/fd.o \
fs/pipe.o \
drivers/ata.o \
drivers/keyboard.o \
drivers/uart.o \
drivers/timer.o \
drivers/pic.o \
drivers/vga13.o \
drivers/debug_log.o \
drivers/framebuffer.o \
drivers/fb_console.o \
proc/process.o \
proc/scheduler.o \
proc/elf_loader.o \
proc/wait.o \
proc/mutex.o \
proc/condvar.o \
proc/rwlock.o \
shell/shell.o \
shell/tetris.o \
shell/boot_splash.o
